.sidebar{
    display:flex;
    flex-direction:column;
    flex:0.25;
    height:100vh;
    background-color: #2f3135;
}
.sidebar_top{
    display:flex;
    Justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f3135;
    color: white;
    border-bottom: 3px solid #26282c;
}
.sidebar__channels{
    flex: 1;
    
}

.sidebar__addchannel{
    cursor: pointer;

}

.sidebar__addchannel:hover{
    color: white;
}

.sidebar__channelsHeaders{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color: #2f3135;
    color:gray;
}

.sidebar__header{
    display: flex;
    align-items: center;
}

.sidebar__voice, 
.sidebar__profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:gray;
    background-color: #2f3135;
    padding:10px;
    border-top: 1px solid gray;
}

.sidebar__voice{
    color: green;
}

.sidebar__voiceInfo{
    flex: 1;
    padding:10px;
}

.sidebar__voiceInfo > h3{
    color:green;
}

.sidebar__voiceInfo > p{
    font-size:smaller;
    color:gray;
}

.sidebar__profileInfo{
    flex: 1;
    padding:10px;
}

.sidebar__profileInfo > h3 {
    color: white;
}

.sidebar__profileIcon {
    padding:10px;
    display: flex;
}

.sidebar__profileIcon .Mic{
    margin:5px;
}

.sidebar__voiceIcon .call {
    color:grey;
}
